<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: #ffba00">

<div class="container">

    <h1>Wunschliste</h1>

    <ul>
        {% for wish in wishes %}
            <li>{{ wish }}</li>
        {% endfor %}
    </ul>

    <form action="/" method="POST">
        <p>Wunsch hinzufügen <input type="text" name="wish"/></p>
        <p><input type="submit" value="Abschicken"/></p>
    </form>

    <form action="/delete" method="POST">
        <p><input type="submit" value="Alle löschen"/></p>
    </form>


    <img src="{{ url_for('static', filename='pit.svg') }}">

</div>

</body>
</html>